@media screen and (max-width: 1265px) {
    .pulse {
        left: calc(45% + 140px);
    }

    .pulse::before {
        left: -100px;
        right: -100px;
        top: -100px;
        bottom: -100px;
    }

    .pulse::after {
        left: -100px;
        right: -100px;
        top: -100px;
        bottom: -100px;
    }
}

@media screen and (max-width: 1181px) {
    .order__strawberry-big {
        left: calc(10% - 65px);
    }
}

@media screen and (max-width: 1154px) {
    .container {
        padding: 0 15px 0 15px;
    }

    .main__image {
        max-width: 480px;
        margin-left: unset;
    }

    .main__image-size {
        width: 100%;
    }

    .products__items {
        column-gap: unset;
        justify-content: space-between;
    }

    .order__container {
        justify-content: space-evenly;
    }

    .pulse::before {
        left: -80px;
        right: -80px;
        top: -80px;
        bottom: -80px;
    }

    .pulse::after {
        left: -80px;
        right: -80px;
        top: -80px;
        bottom: -80px;
    }
}

@media screen and (max-width: 1096px) {
    .main__image {
        max-width: 529px;
        position: absolute;
        right: 15px;
        bottom: 25px;
    }

    .macaroons__info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        grid-row-gap: 40px;
    }

    .macaroons__description {
        text-align: center;
        gap: 60px 0;
    }

    .macaroons__image {
        justify-self: center;
    }

    .macaroons__advantages {
        grid-template-columns: repeat(2, 221px);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        text-align: center;
        grid-column-gap: 54px;
        grid-row-gap: 80px;
    }

    .macaroons__advantage-number {
        margin-left: auto;
        margin-right: auto;
    }

    .products__items {
        grid-template-columns: repeat(2, 263px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        row-gap: 90px;
        column-gap: 30px;
    }

    .order__container {
        flex-direction: row-reverse;
    }

    .order__macaroons {
        position: relative;
        top: 160px;
    }

    .order__strawberry-big {
        top: 210px;
        left: calc(50% - 30px);
    }

    .order__strawberry-small {
        left: calc(50% + 190px);
        bottom: 400px;
    }

    .pulse {
        left: calc(40% + 140px);
        top: 290px;
    }

    .pulse::before {
        left: -75px;
        right: -75px;
        top: -75px;
        bottom: -75px;
    }

    .pulse::after {
        left: -75px;
        right: -75px;
        top: -75px;
        bottom: -75px;
    }
}

@media screen and (max-width: 968px) {
    .main {
        padding: unset;
        min-height: 830px;
    }

    .main__info {
        padding-bottom: unset;
        margin-left: 30px;
    }

    .main__image {
        position: absolute;
        right: 55px;
        bottom: 62px;
    }

    .pulse {
        left: calc(33% + 140px);
        top: 395px;
    }

    .pulse::before {
        left: -65px;
        right: -65px;
        top: -65px;
        bottom: -65px;
    }

    .pulse::after {
        left: -65px;
        right: -65px;
        top: -65px;
        bottom: -65px;
    }
}

@media screen and (max-width: 844px) {
    .order__container {
        justify-content: start;
    }

    .order__macaroons {
        width: 352px;
        position: absolute;
        right: 25px;
        top: 255px;
    }

    .order__macaroons-image {
        width: 100%;
    }

    .pulse {
        left: calc(25% + 140px);
    }
}

@media screen and (max-width: 768px) {
    .header__phone {
        display: none;
    }

    .container {
        max-width: 728px;

    }

    .order__macaroons {
        right: 0;
    }

    .pulse {
        left: calc(25% + 90px);
    }
}

@media screen and (max-width: 758px) {
    .order__macaroons {
        display: none;
    }

    .order__form {
        margin-left: auto;
        margin-right: auto;
    }

    .order__strawberry-big {
        top: 165px;
        left: calc(50% + 100px);
    }
}

@media screen and (max-width: 714px) {
    .main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-left: unset;
    }

    .main__info-head {
        text-align: center;
    }

    .main__info-text {
        text-align: center;
        margin: unset;
    }

    .main__image {
        position: static;
        max-width: 425px;
    }

    .main__image-size {
        width: 100%;
    }

    .pulse {
        left: calc(25% + 30px);
        top: 420px;
    }

    .pulse::before {
        left: -55px;
        right: -55px;
        top: -55px;
        bottom: -55px;
    }

    .pulse::after {
        left: -55px;
        right: -55px;
        top: -55px;
        bottom: -55px;
    }
}

@media screen and (max-width: 660px) {
    .header__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        justify-items: start;
    }

    .menu {
        display: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background: #000000c9;
        z-index: 101;
    }

    .menu__items {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 40px;
    }

    .menu__item-text {
        font-size: 25px;
        color: #ffefef;
    }

    .burger {
        display: block;
        order: 1;
        justify-self: end;
    }

    .burger__param {
        width: 40px;
        height: 25px;
        fill: #821328;
    }

    .menu.open {
        display: flex;
        align-items: center;
    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: #ffefef;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .pulse {
        left: calc(21% + 30px);
        top: 430px;
    }
}

@media screen and (max-width: 660px) {
    .pulse {
        left: calc(19% + 30px);
        top: 485px;
    }
}

@media screen and (max-width: 576px) {
    .main__container {
        padding-bottom: 30px;
    }

    .macaroons__image {
        max-width: 520px;
    }

    .macaroons__image-size {
        width: 100%;
    }

    .products__items {
        grid-template-columns: 263px;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 142px;
    }

    .products__head {
        margin-bottom: 122px;
    }

    .pulse {
        left: calc(19% + 15px);
        top: 537px;
    }

    .pulse::before {
        left: -40px;
        right: -40px;
        top: -40px;
        bottom: -40px;
    }

    .pulse::after {
        left: -40px;
        right: -40px;
        top: -40px;
        bottom: -40px;
    }
}

@media screen and (max-width: 510px) {
    .order__strawberry-small {
        display: none;
    }

    .order__strawberry-big {
        width: 72px;
    }

    .macaroons__advantages {
        grid-column-gap: 19px;
        grid-row-gap: 36px;
    }

    .macaroons__advantage-text {
        font-size: 13px;
        line-height: 1.385;
    }

    .macaroons__advantages {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        position: relative;
        padding: 50px 0 101px 0;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer__logo {
        align-items: center;
    }

    .rights {
        position: absolute;
        bottom: 50px;
    }

    .footer__instagram {
        order: 1;
    }

    .pulse {
        width: 280px;
        height: 280px;
        left: calc(19% + 17px);
        top: 565px;
    }

    .pulse::before {
        left: -35px;
        right: -35px;
        top: -35px;
        bottom: -35px;
    }

    .pulse::after {
        left: -35px;
        right: -35px;
        top: -35px;
        bottom: -35px;
    }
}

@media screen and (max-width: 455px) {
    .pulse {
        left: 19%;
    }

    .pulse::before {
        left: -25px;
        right: -25px;
        top: -25px;
        bottom: -25px;
    }

    .pulse::after {
        left: -25px;
        right: -25px;
        top: -25px;
        bottom: -25px;
    }
}

@media screen and (max-width: 436px) {
    .order__form-head {
        font-size: 30px;
    }
}


@media screen and (max-width: 435px) {
    .order__strawberry-big {
        top: 190px;
        left: calc(50% + 20px);
    }
}

@media screen and (max-width: 434px) {
    .order__strawberry-big {
        top: 128px;
        left: calc(50% + 20px);
    }
}

@media screen and (max-width: 426px) {
    .main__info-head {
        font-size: 32px;
    }

    .main__info-text {
        font-size: 16px;
    }

    .macaroons__description-head {
        font-size: 30px;
    }

    .macaroons__description-text {
        font-size: 16px;
    }

    .macaroons__advantage-head {
        font-size: 18px;
    }

    .macaroons__advantage-text {
        font-size: 13px;
    }

    .products__head {
        font-size: 30px;
    }

    .order__form {
        align-items: center;
    }

    .order__form-text {
        font-size: 16px;
        text-align: center;
    }

    .order__strawberry-big {
        top: 121px;
    }

    .pulse {
        left: calc(14% + 12px);
        top: 371px;
    }

    .pulse::before {
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -25px;
    }

    .pulse::after {
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
    }

    .input, .order__btn {
        width: calc(344px + 64 * (100vw - 375px) / 55);
    }
}

@media screen and (max-width: 400px) {
    .pulse {
        left: calc(14% - 3px);
    }

    .pulse::before {
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -15px;
    }

    .pulse::after {
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
    }
}

@media screen and (max-width: 382px) {
    .order__strawberry-big {
        left: calc(50% + 65px);
        top: 136px;
    }
}

@media screen and (max-width: 376px) {
    .pulse {
        top: 355px;
    }
}

@media screen and (max-width: 370px) {
    .pulse {
        width: 260px;
        height: 260px;
        left: calc(14% - 12px);
        top: 367px;
    }

    .order__form {

    }

    .input, .order__btn  {

    }
}

@media screen and (max-width: 348px) {
    .pulse {
        top: 434px;
    }
}

@media screen and (max-width: 340px) {
    .order__strawberry-big {
        top: 134px;
    }
}

@media screen and (max-width: 332px) {
    .pulse::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .pulse::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}


